html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image:
    linear-gradient(#aaaaaa40 1px, transparent 0),
    linear-gradient(90deg, #aaaaaa40 1px, transparent 0),
    linear-gradient(#aaa 1px, transparent 0),
    linear-gradient(90deg, #aaa 1px, transparent 0);
  background-size: 10px 10px, 10px 10px, 50px 50px, 50px 50px;
  width: 601px;
  height: 351px;
  margin: 10px;
}